@import '@styles/mixin.module.scss';
@import '@styles/variable.module.scss';

.btn {
    @include btn(176px, 42px, $primary-color, 3px);
    color: white;
    font-size: 14px;
    font-weight: 300;
    cursor: pointer;

    &:hover {
        background-color: transparent;
        color: $primary-color;
        border: 1px solid $primary-color;
        transition: background-color 300ms;
    }
}
